body {
    background-color: white;
}

.form {
    width: 500px;
    height: 560px;
    background: linear-gradient(128deg, #022345, #254b71, #022345);
    box-shadow: 5px 5px 5px rgb(101, 102, 111);
    border-radius: 6%;
    border: 2px black;
    margin: 40px;
    position: absolute;
    left: 380px;
}

h1 {
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 38px;
    text-shadow: 1px 1px 3px black;
    margin-top: 40px;
}

#fname {
    color: aliceblue;
    margin-top: 10px;
    margin-left: 100px;
    float: left;
    text-shadow: 1px 1px 3px black;
}

#name1 {
    background: none;
    border-color: aliceblue;
    border-radius: 10px;
    height: 30px;
    width: 62%;
    font-size: 15px;
    font-family: serif;
    color: white;
    margin-left: 80px;
    float: left;
}

#name1::placeholder {
    color: rgba(255, 255, 255, 0.40);
    font-size: 15px;
    float: left;
    margin-left: 10px;
}


#email {
    color: aliceblue;
    margin-top: 30px;
    margin-left: 100px;
    float: left;
    text-shadow: 1px 1px 3px black;
}

#enter_email {
    background: none;
    border-color: aliceblue;
    border-radius: 10px;
    height: 30px;
    width: 62%;
    font-size: 15px;
    font-family: serif;
    color: white;
    margin-left: 80px;
    float: left;

}

#enter_email::placeholder {
    color: rgba(255, 255, 255, 0.40);
    font-size: 15px;
    float: left;
    margin-left: 10px;
}

#password {
    color: aliceblue;
    margin-top: 40px;
    margin-left: 100px;
    float: left;
    text-shadow: 1px 1px 3px black;
}

#enter_password {
    background: none;
    border-color: aliceblue;
    border-radius: 10px;
    height: 30px;
    width: 62%;
    font-size: 15px;
    font-family: serif;
    color: white;
    margin-left: 80px;
    float: left;
}

#enter_password::placeholder {
    color: rgba(255, 255, 255, 0.40);
    font-size: 15px;
    float: left;
    margin-left: 10px;
}

#button {
    background: linear-gradient(90deg, rgb(9, 48, 88), #193755, rgb(9, 48, 88));
    box-shadow: 1px 1px 8px #6b9bcb;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: aliceblue;
    width: 300px;
    height: 50px;
    margin-top: 50px;
    margin-left: 90px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#created {
    width: 400px;
    height: 55px;
    background: linear-gradient(128deg, #022345, #254b71, #022345);
    box-shadow: 4px 4px black;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

#refresh {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 35%;
    background: none;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    position: absolute;
    top: 40%;
    left: 20%;
}
